<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./css/style.css" />
<nav class="nav">
    <form action="/" method="GET">
        <input type="submit" value="Main Categories">
    </form>
    <form action="/florals" method="GET">
        <input type="submit" value="Floral Garden">
    </form>
    <form action="/florals/new" method="PUT">
        <input type="submit" value="New Floral Creation">
    </form>
</nav>
