<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 150px;
        border: solid black 2px;
        border-radius: 10px;
    }
  </style>
  <body>

    <section id="floralindex">
        <h1>Welcome To Your Fairytale</h1>
        <ul class="floralsIndex">
            <% for(let i = 0; i < florals.length; i++) { %>
            <li>
                <h3> <%=florals[i].name%> </h3>
                <a href="/florals/<%=florals[i]._id%>"><img src="<%=florals[i].img%>" /></a>
            </li>
        <% } %>
        </ul>
    </section>
</body>
</html>