<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <nav>
    <%- include('../partials/nav.ejs')%>
  </nav>
  <style>

  </style>
  <body>
    <h2>Enter A New Floral Item</h2>
    <form action="/florals" method="POST">
        Name: <input type="text" name="name" /><br>
        Description: <input type="text" name="description" /><br>
        Image: <input type="text" name="img" /><br>
        Price: $<input type="number" name="price" /><br>
        <input type="submit" value="Add Creation" />
    </form>
  </body>
</html>