<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <style>
    #homepage {
        font-family: 'Pinyon Script';
        font-size: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tableOfContents {
        list-style: none;
        font-family: 'SignPainter';
    }
  </style>
  <body>
    <section id="homepage">
        <h1>Welcome To Your Fairytale</h1>
        <ul class="tableOfContents">
            <a href="/florals/"><li> Florals </li></a>
            <li> Venues </li>
            <li> Caterers </li>
            <li> Timeline </li>
            <li> Budget </li>
            
        </ul>
    </section>
</body>
</html>