<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <style>
    #homepage {
        font-family: 'Pinyon Script';
        font-size: 35px;
    }
    .tableOfContents {
        list-style: none;
        font-family: 'SignPainter';
    }
  </style>
  <body>
    <section id="homepage">
        <h1>Welcome To Your Fairytale</h1>
        <ul class="tableOfContents">
            <li> Florals </li>
        </ul>
    </section>
</body>
</html>